<IfModule mod_headers.c>
	
	Header set X-XSS-Protection "1; mode=block"
	Header set X-Frame-Options "Deny"
	Header set X-Content-Type-Options "nosniff"
	Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
	Header set Referrer-Policy "same-origin"

	ErrorDocument 403 "<h1>Forbidden :(</h1>"
	ErrorDocument 404 "<h1>Not Found :(</h1>"
	ErrorDocument 405 "<h1>Not Allowed :(</h1>"
	ErrorDocument 500 "<h1>Houston, we may have a problem. :|</h1>"

</IfModule>